<html>
<head>
    <title>Sign In</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"/>
  

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'apptasklistmng/css/tasksListStyle.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'apptasklistmng/css/footer.css' %}">
    <link rel="icon" href="{% static 'apptasklistmng/img/d.ico' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'apptasklistmng/css/signOnIn.css' %}">


    <script src="{% static 'apptasklistmng/js/components/header.js' %}" type="text/javascript" defer></script>
    <script src="{% static 'apptasklistmng/js/components/footer.js' %}" type="text/javascript" defer></script>

</head>
<body>

<header-component></header-component> 
   
      

<div id="tasks_list" class="tasks_list">
    <div id="tasks_list_title" class="tasks_list_title">Sign In</div>   
    <table id="signintable" class="sigintable">
        <form class="signinform" id="signinform" action="{% url 'apptasklistmng:signinprocess' %}" method="POST">  
            {% csrf_token %} <!-- all POST forms that are targeted at internal URLs should use the {% csrf_token %} template tag. -->
            <tr>
                <td style="width: 100px">
                    Username:
                </td>
                <td><input type="text" id="usernickname" name="usernickname"  size="30" required></input>
                </td>
            </tr>
            <br>
            <tr>
                <td>
                    Password:
                </td>
                <td><input type="password" id="userpwd" name="userpwd" pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*\d).*" size="30" minlength="8"  maxlength="32"  required></input>
                </td>
            </tr>
            <tr>
                <td><input type="submit" value="Submit"></td>
            </tr>
        </form>
        <tr>
            <td colspan="2"><p id="log"></p></td>
        </tr>
    </table>
    <br><br>
</div>

{% if errormsg %}
    <script>alert("{{ errormsg }}")</script> 
{% endif %}

<footer-component></footer-component>

</body>
</html>