<!DOCTYPE html>
<html>
<head>
    <title>Sign On</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"/>
  

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'apptasklistmng/css/tasksListStyle.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'apptasklistmng/css/footer.css' %}">
    <link rel="icon" href="{% static 'apptasklistmng/img/d.ico' %}"/>
    

    <script src="{% static 'apptasklistmng/js/components/header.js' %}" type="text/javascript" defer></script>
    <script src="{% static 'apptasklistmng/js/components/footer.js' %}" type="text/javascript" defer></script>
  
</head>
<body>

<header-component></header-component> 

        
<div id="tasks_list" class="tasks_list">
    <div id="tasks_list_title" class="tasks_list_title">Sign On</div>     
    <table id="signontable"> 
    <form class="tasks_list_form" id="signonform" name="signonform">

        
        <tr>
            <td style="width: 10%;">
                <label for="firstname">
                    First Name:
                </label>
            </td>
            <td><input type="text" id="firstname" name="firstname" required/></input>
            </td>
        </tr>
        <tr>
            <td style="width: 10%;">
                <label for="middlename">
                    Middle Name:
                </label>
            </td>
            <td><input type="text" id="middlename" /></input>
            </td>
        </tr>
        <tr>
            <td style="width: 10%;">
                <label for="lastname">
                    Last Name:
                </label>
            </td>
            <td><input type="text" id="lastname" required/></input>
            </td>
        </tr>
        <tr>
            <td style="width: 10%;">
                <label for="username">
                    Username:
                </label>
            </td>
            <td><input type="text" id="username" required/></input>
            </td>
        </tr>
        <tr>
            <td style="width: 10%;">
            <label for="password">
                Password (8 characters minimum):
            </label>
            </td>
            <td><input type="password" id="password" name="password" pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*\d).*" 
                    minlength="8"  maxlength="32" required></input> 
            </td>
        </tr>
        <tr>
            <td>
                Email:
            </td>
            <td><input type="email" id="email" pattern=".+@.+\..+" size="30" required></input>
            </td>
        </tr>
        <tr>
            <td style="width: 10%;">
                <label for="gender">
                    Gender:
                </label>
            </td>
            <td>
                <label for="gender"> Select your gender </label>
                <select name="gender" id="gender">
                    <option value="none" selected>Gender</option>
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                    <option value="other">other</option>        
                </select>
                
            </td>
        </tr>
        
        <tr>
            <td><label for = "dob">
                DoB:
                </label>
            </td>
            <td><input type="date" id="dob"></input>
            </td>
        </tr>
        
    
        <tr>
            <td><button type="submit">Creat account</button></td>
        </tr>
    </form>
    </table>
</div>
 
<footer-component></footer-component>

</body>
</html>